# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
bin/
logs/
composer.lock

# npm
node_modules/
package-lock.json

# Build stuff
.build/
var/

# Cache
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache
