<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <div class="btn-group dropdown">
        <button type="button"
                class="dropdown-toggle dropdown-toggle-link t3js-multi-record-selection-check-actions-toggle"
                data-bs-toggle="dropdown"
                data-bs-boundary="window"
                aria-expanded="false"
                aria-label="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.openSelectionOptions')}"
        >
            <core:icon identifier="actions-selection" size="small" />
        </button>
        <ul class="dropdown-menu t3js-multi-record-selection-check-actions">
            <li>
                <button type="button"
                        class="dropdown-item disabled"
                        data-multi-record-selection-check-action="check-all"
                        title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.checkAll')}"
                >
                    <span class="dropdown-item-columns">
                        <span class="dropdown-item-column dropdown-item-column-icon" aria-hidden="true">
                            <core:icon identifier="actions-selection-elements-all" size="small" />
                        </span>
                        <span class="dropdown-item-column dropdown-item-column-title">
                            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.checkAll" />
                        </span>
                    </span>
                </button>
            </li>
            <li>
                <button type="button"
                        class="dropdown-item disabled"
                        data-multi-record-selection-check-action="check-none"
                        title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uncheckAll')}"
                >
                    <span class="dropdown-item-columns">
                        <span class="dropdown-item-column dropdown-item-column-icon" aria-hidden="true">
                            <core:icon identifier="actions-selection-elements-none" size="small" />
                        </span>
                        <span class="dropdown-item-column dropdown-item-column-title">
                            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uncheckAll" />
                        </span>
                    </span>
                </button>
            </li>
            <li>
                <button type="button"
                        class="dropdown-item"
                        data-multi-record-selection-check-action="toggle"
                        title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.toggleSelection')}"
                >
                    <span class="dropdown-item-columns">
                        <span class="dropdown-item-column dropdown-item-column-icon" aria-hidden="true">
                            <core:icon identifier="actions-selection-elements-invert" size="small" />
                        </span>
                        <span class="dropdown-item-column dropdown-item-column-title">
                            <f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.toggleSelection" />
                        </span>
                    </span>
                </button>
            </li>
        </ul>
    </div>
</html>
