<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <div class="t3js-infobox callout callout-info">
        <div class="media">
            <div class="media-left">
                <span class="icon-emphasized">
                    <core:icon identifier="actions-info" />
                </span>
            </div>
            <div class="media-body">
                <div class="callout-title">
                    <f:translate key="index_queue.information.title" />
                </div>
                <div class="callout-body">
                    <f:translate key="index_queue.information.body" />
                </div>
            </div>
        </div>
    </div>
</html>
