<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <f:variable name="visibleTitle" value="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:disable')}" />
    <f:variable name="visibleIcon" value="actions-edit-hide" />
    <f:variable name="hiddenTitle"  value="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:enable')}" />
    <f:variable name="hiddenIcon"  value="actions-edit-unhide" />

    <f:if condition="{indexer.hidden}">
        <f:then>
            <f:variable name="titleLabel" value="{hiddenTitle}"/>
            <f:variable name="iconIdentifier" value="{hiddenIcon}"/>
        </f:then>
        <f:else>
            <f:variable name="titleLabel" value="{visibleTitle}"/>
            <f:variable name="iconIdentifier" value="{visibleIcon}"/>
        </f:else>
    </f:if>

    <button class="btn btn-default"
            type="button"
            title="{titleLabel}"
            data-datahandler-action="visibility"
            data-datahandler-table="tx_typo3searchalgolia_domain_model_indexer"
            data-datahandler-uid="{indexer.uid}"
            data-datahandler-field="hidden"
            data-datahandler-status="{f:if(condition: indexer.hidden, then: 'hidden', else: 'visible')}"
            data-datahandler-visible-label="{visibleTitle}"
            data-datahandler-visible-value="0"
            data-datahandler-visible-icon="actions-edit-hide"
            data-datahandler-hidden-label="{hiddenTitle}"
            data-datahandler-hidden-value="1"
            data-datahandler-hidden-icon="actions-edit-unhide"
            data-datahandler-record-hidden-overlay-icon="overlay-hidden"
            data-datahandler-record-visible-overlay-icon=""
    >
        <core:icon identifier="{iconIdentifier}" />
    </button>
</html>
