<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:backend="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:mkk="http://typo3.org/ns/MeineKrankenkasse/Typo3SearchAlgolia/ViewHelpers"
>
    <f:layout name="Module" />

    <f:section name="Content">
        <f:be.pageRenderer
            includeJavaScriptModules="{
                0: '@typo3/backend/multi-record-selection.js',
                1: '@typo3/backend/ajax-data-handler.js',
            }"
        />

        <div class="col-md-12">
            <h1><f:translate key="index_queue" /></h1>
            <p><f:translate key="index_queue.description" /></p>

            <div class="mt-4">
                <h3 class="mb-3"><f:translate key="index_queue.statistics" /></h3>

                <div>
                    <f:render partial="StatisticCallout" arguments="{_all}" />

                    <f:if condition="{queueStatistics}">
                        <div class="table-fit">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <f:translate key="index_queue.statistics.column.type" />
                                        </th>
                                        <th class="text-end">
                                            <f:translate key="index_queue.statistics.column.count" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <f:for each="{queueStatistics}" as="statistic">
                                        <tr>
                                            <td>
                                                <f:translate key="indexer.{statistic.indexer_type}.title" />
                                            </td>
                                            <td class="text-end">
                                                {statistic.count -> f:format.number(decimals: 0, thousandsSeparator: '.')}
                                            </td>
                                        </tr>
                                    </f:for>
                                </tbody>
                            </table>
                        </div>
                    </f:if>
                </div>
            </div>

            <div class="mt-4">
                <h3 class="mb-3"><f:translate key="index_queue.table.overview" /></h3>

                <f:form class="form-inline form-inline-spaced settings" object="{queueDemand}" name="queueDemand" enctype="multipart/form-data">
                    <div class="table-fit">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-checkbox">
                                        <f:render partial="DropdownRecordSelectionButton" />
                                    </th>
                                    <th>
                                        <f:translate key="index_queue.table.column.id" />
                                    </th>
                                    <th class="col-task">
                                        <f:translate key="index_queue.table.column.indexingService" />
                                    </th>
                                    <th class="col-control"></th>
                                </tr>
                            </thead>
                            <tbody data-multi-record-selection-row-selection="true">
                                <f:for each="{indexingServices}" as="indexingService">
                                    <tr data-multi-record-selection-element="true">
                                        <td class="col-checkbox">
                                            <span class="form-check form-check-type-toggle">
                                                <f:form.checkbox class="form-check-input t3js-multi-record-selection-check"
                                                                 property="indexingServices"
                                                                 multiple="true"
                                                                 value="{indexingService.uid}"
                                                />
                                            </span>
                                        </td>
                                        <td class="align-top">{indexingService.uid}</td>
                                        <td class="align-top col-task">
                                            <div class="name">
                                                <core:icon identifier="{mkk:indexer.icon(type: indexingService.type)}" />
                                                <backend:link.editRecord
                                                        table="tx_typo3searchalgolia_domain_model_indexingservice"
                                                        uid="{indexingService.uid}"
                                                >
                                                    <strong>{indexingService.title}</strong>
                                                </backend:link.editRecord>
                                            </div>
                                            <f:if condition="{indexingService.description} != ''">
                                                <div class="text-body-secondary" style="margin-top: 0.5em;">
                                                    <f:format.nl2br>{indexingService.description}</f:format.nl2br>
                                                </div>
                                            </f:if>
                                        </td>
                                        <td class="col-control align-top">
                                            <div class="btn-group" role="group">
                                                <backend:link.editRecord
                                                        class="btn btn-default"
                                                        table="tx_typo3searchalgolia_domain_model_indexingservice"
                                                        uid="{indexingService.uid}"
                                                        title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:edit')}"
                                                >
                                                    <core:icon identifier="actions-open" />
                                                </backend:link.editRecord>

                                                <f:render partial="VisibilityToggleButton" arguments="{indexingService: indexingService}" />
                                            </div>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        {f:translate(key: 'index_queue.indexingServices.available')}
                                        <span class="t3js-table-total-items">{indexingServices -> f:count()}</span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <f:render partial="InformationCallout" arguments="{_all}" />

                    <f:form.button class="btn btn-default" type="submit">
                        <core:icon identifier="actions-document-add" />
                        <f:translate key="index_queue.button.submit" />
                    </f:form.button>
                </f:form>
            </div>
        </div>
    </f:section>
</html>
