<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <f:layout name="Module" />

    <f:section name="Content">
        <f:be.pageRenderer
            includeJavaScriptModules="{
                0: '@typo3/backend/multi-record-selection.js',
                1: '@typo3/backend/ajax-data-handler.js',
            }"
        />

        <div class="col-md-12">
            <h1><f:translate key="module.name" /></h1>
            <h2><f:translate key="index_queue" /></h2>
            <p><f:translate key="index_queue.description" /></p>

            <div class="mt-4">
                <h3 class="mb-3"><f:translate key="index_queue.statistics" /></h3>
                <div>
                    <f:render partial="QueueModule/StatisticCallout" arguments="{_all}" />
                    <f:render partial="QueueModule/Statistics" arguments="{_all}" />
                </div>
            </div>

            <div class="mt-4">
                <h3 class="mb-3"><f:translate key="index_queue.table.overview" /></h3>
                <f:render partial="QueueModule/IndexingServices" arguments="{_all}" />
            </div>
        </div>
    </f:section>
</html>
