<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
    <f:layout name="Module" />

    <f:section name="Content">
        <div class="col-md-12">
            <h1><f:translate key="module.name" /></h1>
            <h2><f:translate key="administration" /></h2>
            <p><f:translate key="administration.description" /></p>

            <div class="mt-4">
                <f:for each="{searchEnginesInfo}" as="searchEnginesGroup" key="searchEngineSubtype">
                    <h3 class="mb-3">
                        <f:translate key="administration.searchEngine.{searchEngineSubtype}.headline" />
                    </h3>

                    <div class="mt-4">
                        <f:render partial="AdministrationModule/SearchEngineIndexTable" arguments="{searchEnginesGroup: searchEnginesGroup, searchEngineSubtype: searchEngineSubtype}" />
                    </div>
                </f:for>
            </div>
        </div>
    </f:section>
</html>
